{% extends "::layout.html.twig" %}

{% block title %}
	Blog - {{ parent() }}
{% endblock %}

{% block body %}

	<h1>SymfonyBlog</h1>

	<hr>

	{% for key, flash in app.session.getFlashes() %}
		<div class="alert alert-{{ key }}">
			{{ flash }}
		</div>
	{% endfor %}

	{% block sdzblog_body %}
	{% endblock %}

{% endblock %}
