{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
	Tag - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}

	<h2>Ajouter un tag</h2>

	{% include "SdzBlogBundle:Blog:formulaire.html.twig" %}

{% endblock %}
